<nav aria-label="Page navigation">
    <ul class="blearui-pagination blearui-pagination_simple">
        <li class="
            blearui-pagination-item
            blearui-pagination-item_prev
            {{options.page == 1 ? 'blearui-pagination-item_disabled' : ''}}
            ">
            <a aria-label="Previous">{{options.prev}}</a>
        </li>

        <li class="
            blearui-pagination-item
            blearui-pagination-item_label
            "><a>{{options.page}}/{{options.total}}</a>
        </li>

        <li class="
            blearui-pagination-item
            blearui-pagination-item_next
            {{options.page == options.total ? 'blearui-pagination-item_disabled' : ''}}
            ">
            <a aria-label="Next">{{options.next}}</a>
        </li>
    </ul>
</nav>