$active-color: #1890ff;
$text-color: #5d5d5d;
$border-color: #d9d9d9;
$disabled-color: #c6c6c6;

.blearui-pagination {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &-simple {

  }

  &-range {

  }

  &-item {
    float: left;
    margin-left: 8px;

    a {
      display: block;
      text-decoration: none;
      min-width: 34px;
      line-height: 34px;
      text-align: center;
      border-radius: 4px;
      color: $text-color;
      border: 1px solid $border-color;

      &:hover {
        color: $active-color;
        border-color: $active-color;
      }
    }

    &_label {
      min-width: 60px;

      a {
        &,
        &:hover,
        &:active {
          color: $text-color;
          border-color: $border-color;
          cursor: default;
        }
      }
    }

    &_ellipsis {
    }

    &_active {
    }

    &_disabled {
      a {
        &,
        &:hover,
        &:active {
          color: $disabled-color;
          border-color: $border-color;
          cursor: not-allowed;
        }
      }
    }
  }

  &-prev {

  }

  &-next {

  }
}